<kendo-grid [selectable]="true" [kendoGridBinding]="gridData">
  <kendo-grid-checkbox-column [showSelectAll]="true">
  </kendo-grid-checkbox-column>
  <kendo-grid-column  title="ნომერი" field="productId"></kendo-grid-column>
  <kendo-grid-column  title="ხილი" field="productName"></kendo-grid-column>
  <kendo-grid-column  title="ფასი" field="unitPrice"></kendo-grid-column>
  <kendo-grid-command-column title="command">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button kendoGridRemoveCommand (click)="removeRow(dataItem)">remove</button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>

<br>
<br>
<br>




<kendo-toolbar>
  <kendo-toolbar-button text="Button"></kendo-toolbar-button>
  <kendo-toolbar-button
    text="Toggle"
    [toggleable]="true"
  ></kendo-toolbar-button>
  <kendo-toolbar-splitbutton text="Split Button" [data]="splitButtonData">
  </kendo-toolbar-splitbutton>
  <kendo-toolbar-dropdownbutton
    text="DropDownButton"
    [data]="dropdownButtonData"
  >
  </kendo-toolbar-dropdownbutton>
  <kendo-toolbar-buttongroup selection="single">
    <kendo-toolbar-button
      [toggleable]="true"
      title="Align left"
      [svgIcon]="alignLeftIcon"
    ></kendo-toolbar-button>
    <kendo-toolbar-button
      [toggleable]="true"
      title="Align center"
      [svgIcon]="alignCenterIcon"
    ></kendo-toolbar-button>
    <kendo-toolbar-button
      [toggleable]="true"
      title="Align right"
      [svgIcon]="alignRightIcon"
    ></kendo-toolbar-button>
    <kendo-toolbar-button
      [toggleable]="true"
      title="Align justify"
      [svgIcon]="alignJustifyIcon"
    ></kendo-toolbar-button>
  </kendo-toolbar-buttongroup>
</kendo-toolbar>

