<kendo-grid [selectable]="true" [kendoGridBinding]="gridData">
  <kendo-grid-checkbox-column [showSelectAll]="true">
  </kendo-grid-checkbox-column>
  <kendo-grid-column  title="ნომერი" field="productId"></kendo-grid-column>
  <kendo-grid-column  title="ხილი" field="productName"></kendo-grid-column>
  <kendo-grid-column  title="ფასი" field="unitPrice"></kendo-grid-column>
  <kendo-grid-command-column title="command">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button kendoGridRemoveCommand (click)="removeRow(dataItem)">remove</button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>
